<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player</title>
    <link rel="stylesheet" href="../../style.css" />
    <script defer  type="module" src="play.js"></script>
  </head>
  <body>
    <header>
        <div class="logo">
            <img src="../../../X - BONUS - Add a progress bar/img/logo.png" alt="logo">
            <h1>Quiz App</h1>      
        </div>

        <!-- space between logo and empty div -->
        <div class="space"></div>

        <nav>
            <a href="../edit/edit.html">Edit Quiz</a>
            <a href="../../index.html">main</a>
        </nav>
    </header>
    <div id="start">
      Start Quiz!
    </div>

    <div id="quiz">
      <div id="question">QQQQQQQQ</div>

      <div id="choices">
        <div class="choice" id="A">AAAA</div>
        <div class="choice" id="B">BBBB</div>
        <div class="choice" id="C">CCCC</div>
        <div class="choice" id="D">DD</div>
      </div>

      <div class="progressContainter">
        <div id="progressBar"></div>
      </div>

    </div>

    <div id="score"></div>

  </body>
</html>
